<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BlazeWebAppSuite">
	<parameter name="browser" value="chrome" />
	<test thread-count="5" name="WebAppTest">
		<groups>
			<run>
				<include name="featureOne" />
			</run>
		</groups>
		<classes>
			<class name="demoBlazeTest.BlazeWebApp" />
		</classes>
	</test> <!-- WebAppTest -->
</suite> <!-- BlazeWebAppSuite -->